*.user
*.ncb
/QFunctionConfigurator/GeneratedFiles
/QFunctionConfigurator/release
/bin_dbg
/FTNoIR_Filter_Accela/generatedfiles
/FTNoIR_Filter_Accela/Release
/FTNoIR_Filter_EWMA2/generatedfiles
/FTNoIR_Filter_EWMA2/Release
/FTNoIR_Protocol_FG/Release
/FTNoIR_Protocol_FG/generatedfiles
/FTNoIR_Protocol_FSUIPC/Release
/FTNoIR_Protocol_FSUIPC/generatedfiles
/FTNoIR_Protocol_FT/Release
/FTNoIR_Protocol_FT/generatedfiles
/FTNoIR_Protocol_FTIR/Release
/FTNoIR_Protocol_FTIR/generatedfiles
/FTNoIR_Protocol_FTN/Release
/FTNoIR_Protocol_FTN/generatedfiles
/FTNoIR_Protocol_MOUSE/Release
/FTNoIR_Protocol_MOUSE/generatedfiles
/FTNoIR_Protocol_PPJOY/Release
/FTNoIR_Protocol_PPJOY/generatedfiles
/FTNoIR_Protocol_SC/Release
/FTNoIR_Protocol_SC/generatedfiles
/FTNoIR_Tracker_SM/Release
/FTNoIR_Tracker_SM/generatedfiles
/FTNoIR_Tracker_FD/Release
/FTNoIR_Tracker_FD/generatedfiles
/FTNoIR_Tracker_UDP/Release
/FTNoIR_Tracker_UDP/generatedfiles
/FaceTrackNoIR/generatedfiles
/FaceTrackNoIR/Debug
/FaceTrackNoIR/Release
/release
/faceAPI/Release
/*.suo

/bin/*.exp
/bin/*.lib
/bin/*.ilk
/bin/*.pdb
